.button {
    color: darkorange;
    background-image: url("/assets/parakeet.ico");
/*    background-image: url("/pdf-play/assets/parakeet.ico");*/ // for build
    font-size: 40px;
    padding: 16px 30px;
    margin: 4px 2px;
    border: 3px solid red;
    border-radius: 10px;
}
.button:hover {
    background-image: url("/assets/ak.ico");
 /*   background-image: url("/pdf-play/assets/ak.ico");*/
    cursor: pointer;
}   
